
@{
    ViewBag.Title = "Request Loan";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="table1">
    @using (Html.BeginForm("RequestALoan", "UserHome", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
    {
        <label for="sortloan">Loan type</label><br>

        <select class="drop-menu">
            <option value="volvo">Empty...</option>
            <option value="saab">Car Loan</option>
            <option value="opel">Personal Loan</option>
            <option value="audi">Morgage Loan</option>
        </select>

        <br>
        <label for="merk">Employment type</label><br>
        <select class="drop-menu">
            <option value="volvo">Empty...</option>
            <option value="saab">Full-Time</option>
            <option value="opel">Part-Time</option>
        </select>
        <br>
        <br>
        <label for="merk">Request - Amount</label><br>
        <input type="text" name="Amount1" value="" required placeholder="SRD..." /><br>
        <label for="model">Monthly Income</label><br>
        <input type="text" name="Amount2" value="" required placeholder="SRD..." /><br>
        <label for="datum">Payment Date</label><br>
        <input type="date" name="Datum" value="" required />
        <br>
        <p>
            @Html.ActionLink("Request Loan", "Index", new { username = "elena" })
        </p>
    }
</div>

